body {
	margin: 2%;
	font-size: medium;
}

pre {
	border: 1px solid #999999;
	padding: 0.2em 0.5em;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word;
}

code {
	font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0;
	font-size: 100%;
	line-height: 1.36;
}

h1 {
	text-align: left;
}

h2 {
	text-align: left;
}

h3 {
	text-align: left;
}

h4 {
	text-align: left;
}

h5 {
	text-align: left;
}

h6 {
	text-align: left;
}

h1.title {
	font-size: 180%;
	font-weight: normal;
}

h2.author {
}